body {
  display: grid;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: auto 600px 1fr;
  min-height: 99vh;
  background-color: #121212;
  justify-content: center;
}

.title,
.rowCalculator,
footer {
  display: grid;
}

.title {
  grid-area: 1/2/1/2;
  font-family: "Calculator", sans-serif;
  justify-content: center;
  font-size: 60pt;
  font-weight: 900;
  color: white;
  opacity: 87%;
  padding-bottom: 30px;
}

.rowCalculator {
  grid-area: 2/2/2/2;
  grid-template-columns: repeat(4, minmax(80px, 100px));
  grid-template-rows: repeat(6, auto);
  gap: 20px;
}

footer {
  grid-area: 3/2/-1/2;
  font-family: "Calculator", sans-serif;
  justify-content: center;
  font-size: 20pt;
  font-weight: 400;
  color: white;
  opacity: 60%;
  align-items: flex-end;
}

#screenDisplay {
  grid-column: span 4;
  grid-row: span 4;
  background-color: #e6ffe3;
  opacity: 90%;
  font-size: 70px;
  font-family: "Calculator", sans-serif;
  border-radius: 10px;
  text-align: end;
  word-wrap: break-word;
  word-break: break-all;
  
}

#item15 {
  background-color: rgb(167, 167, 167);
  border-radius: 25%;
  font-size: 50px;
  font-family: "Calculator", sans-serif;
}

#item16 {
  background-color: #f783da;
  border-radius: 25%;
  font-size: 50px;
  font-family: "Calculator", sans-serif;
}

#item18 {
  grid-column: span 2;
  background-color: #ff6e40;
  border-radius: 15px;
  font-size: 50px;
  font-family: "Calculator", sans-serif;
}

#item19 {
  grid-column: span 2;
  background-color: #097770;
  border-radius: 15px;
  font-size: 50px;
  font-family: "Calculator", sans-serif;
}

#item5,
#item9,
#item13,
#item17 {
  background-color: #ffc13b;
  border-radius: 50%;
  font-size: 50px;
  font-family: "Calculator", sans-serif;
}

#item2,
#item3,
#item4,
#item6,
#item7,
#item8,
#item10,
#item11,
#item12,
#item14 {
  background-color: whitesmoke;
  opacity: 90%;
  border-radius: 25%;
  font-size: 50px;
  font-family: "Calculator", sans-serif;
}

a {
  color: #dc143c;
  text-decoration: none;
}

a:hover {
  color: yellow;
  text-decoration: underline;
  text-decoration-color: whitesmoke;
}
