body {     
    display: grid;
    grid-template-columns: repeat(3,auto);
    grid-template-rows: auto 600px 1fr;
    min-height: 99vh;
    background-color: #121212;
    justify-content: center;
}

.title, .rowCalculator, .footer { 
    display:grid;
}

.title { 
    grid-area: 1/1/1/-1;
    font-family: 'Calculator', sans-serif;
    justify-content: center;
    font-size: 60pt; 
    font-weight: 900;    
    color: white;       
    opacity: 87%;
    padding-bottom: 30px;
                                                
}

.rowCalculator {
    grid-area: 2/2/2/2;
    grid-template-columns: repeat(4, minmax(80px, 100px));    
    grid-template-rows: repeat(6,auto);
    gap: 20px;
       
}

.rowCalculator div {
    border-style: solid;
    border-color: black;
}

.footer {
    grid-area: 3/2/-1/2;
    font-family: 'Calculator', sans-serif;
    justify-content: center;
    font-size: 20pt; 
    font-weight: 400;    
    color: white;       
    opacity: 60%;
    align-items:flex-end;
    
    
    
}

.item0 { 
    grid-column: span 4;
    grid-row: span 2;
    background-color: #E6FFE3;
    opacity: 90%;
    
    
}

.item14 { 
    background-color: #500472;
}

.item17 { 
    grid-column: span 2;
    background-color: #ff6e40;
}

.item18 { 
    grid-column: span 2;
    background-color: #097770;
}
.item4, .item8, .item12, .item15, .item16 { 
    background-color: #ffc13b;
}

.item1, .item2, .item3, .item5, .item6, .item7, .item9, .item10, .item11, .item13 {
    background-color: whitesmoke;
    opacity: 90%;
}